@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Taken from https://v4.brittanychiang.com/#projects buttons transition */
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --green: #64ffda;
  --navy-shadow: rgba(2, 12, 27, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply text-gray-900 bg-navy-900;
}

/* https://tailwindcss.com/docs/functions-and-directives#layer */
/* This will create a new class called "green" usable by tailwind */
@layer components {
  .green {
    @apply text-green;
  }
  /* Those ham transitions were all taken from https://v4.brittanychiang.com */
  .ham-center {
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
  }
  .ham-center-active {
    transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(225deg);
  }
  .ham-before {
    transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  }
  .ham-before-active {
    transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  }
  .ham-after {
    transition: bottom 0.1s ease-in 0.25s,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .ham-after-active {
    transition: bottom 0.1s ease-out,
      transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transform: rotate(-90deg);
  }
}

.shadow-hover {
  @apply transition-[var(--transition)] hover:-translate-x-[5px] hover:-translate-y-[5px] hover:shadow-[4px_4px_0_0_var(--green)];
}

.before-list-icon {
  @apply before:content-['▹'] before:green before:mr-4;
}

.green-image {
  @apply rounded
  grayscale
  mix-blend-multiply
  hover:grayscale-0
  hover:mix-blend-normal;
}

.gray-scroll {
  scrollbar-color: theme(colors.gray[900]) theme(colors.navy[900]);
}
.invisible-scroll {
  scrollbar-width: "none";
}
